<!DOCTYPE html>
<html>
<head>
	<title>Black Clover Wiki - Arcs</title>
	<link rel="stylesheet" href="arcs.css">
</head>
<body>
	<header>
		<h1>Arcs</h1>
	</header>
	<main>
		<h2>Story Arcs</h2>
		<ul>
			<li>Introduction Arc</li>
			<li>Forest of Witches Arc</li>
			<li>Capital City Arc</li>
			<!-- Add more arcs here -->
		</ul>
		<p><a href="main.erb">Back to Home</a></p>
	</main>
</body>
</html>