<!DOCTYPE html>
<html>
<head>
	<title>Black Clover Wiki</title>
	<link rel="stylesheet" href="home.css">
</head>
<body>
	<header>
		<h1>Black Clover Wiki</h1>
	</header>
	<main>
		<p>Welcome to the Black Clover Wiki!</p>
		<p>This wiki is dedicated to the popular manga and anime series Black Clover.</p>
		<nav>
			<ul>
				<li><a href="/arcos">Arcs</a></li>
				<li><a href="/personagens">Characters</a></li>
			</ul>
		</nav>
	</main>
</body>
</html>